body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: regular;
  line-height: 26px;
  color: #333333;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.header {
  position: relative;
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
}
.logo {
  display: inline-block;
  width: 138px;
  position: absolute;
  left: 50%;
  margin-top:0px;
  margin-left: -77px;
}
.main-menu-list{
  margin:0;
  padding:0;
}
.link {
  display: inline-block;
  width: 20%;
  list-style-type: none;
  margin-bottom: 0px;
}
.clearfix::after{
  content: '';
  display: table;
  clear:both;
}
.one {
}
.two {
}
.photo-preview {
  height: 566px;
  background: url("img/introduce1.jpg") no-repeat;
}
.main-preveiw {
  line-height: 26px;
  color: #333333;
}
.main-preveiw-header {
  width: 460px;
  margin:0 auto;
  margin-top: 58px;
  margin-bottom: 35px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.main-preveiw-text {
  margin-bottom: 55px;
  font-size: 14px;
  font-weight: regular;
  text-align: center;
}
.moments {
  margin-bottom: 0px;
}
.reasons {
  background-color: #eeeeee;
}
.reason {
  display: inline-block;
  width: 33%;
  line-height: 21px;
}
.reason-header {
  width: 163px;
  margin: 0 auto;
  margin-top: 53px;
  margin-bottom: 24px;
  text-align: center;
}
.reason-number {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}
.reason-text {
  width: 310px;
  margin: 0 auto;
  margin-bottom: 53px;
  font-size: 14px;
  text-align: center;
}
.left {
  float:left;
  background-color: #81b3d2;
  color: #ffffff;
}
.right {
  float:right;
  background-color: #81b3d2;
  color: #ffffff;
}
.view {
  display: inline-block;
  width: 67%;
  margin-left: 0px;
}
.fields {
  margin-bottom: 0px;
}
.field {
  display: inline-block;
  width: 33%;
  margin-left: 0;
  line-height: 21px;
  text-align: center;
}
.field-header{
  margin-top: 161px;
  margin-bottom: 21px;
  text-align: center;
}
.field-text {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 85px;
  font-size: 14px;
  text-align: center;
}
.selection-header{
  width: 312px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 24px;
}
.selection-text{
  width: 446px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.selection-data-button{
  width: 566px;
  height: 86px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #766357;
}
.data-button{
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
}
.button{
  position: absolute;
  left: 50%;
  width: 566px;
  margin-left: -283px;
  background-color: #ffffff;
}
.form-label {
  width: 460px;
  margin: 0 auto;
  margin-top: 55px
  margin-bottom: 30px;
  vertical-align: middle;
}
.form-data{
  margin-right: 19px;
}
.form-data-lable {
  margin: 0;
  background-color: #f2f2f2;
}
.quantity {
  width: 460px;
  margin: 0px;
  margin-bottom: 54px;
  vertical-align: middle;
}
.human {
  display:inline-block;
  float: left;
  width: auto;
  margin-left: 0;
  margin-right: 25px;
}
.quantity-human{
  display: inline-block;
  float: left;
  width: 114px;
  background-color: #f2f2f2;
}
.plus {
  display: inline-block;
  width:38px;
  height: 38px;
  margin: 0;
}
.submit {
  display: block;
  width: 458px;
  margin: 0;
  padding-left: 195px;
  padding-right: 195px;
  padding-top: 17px;
  padding-bottom: 20px;
  background-color: #81b3d2;
  color: #ffffff;
}
.map {
  position: relative;
}
.footer {
  margin-top: 0px;
  vertical-align: middle;
}
.tag {
  display: inline-block;
  float: left;
  width: 33%;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.social {
  display: inline-block;
  float: left;
  width: 33%;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}
.social-link {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 0 auto;
  margin-right: 10px;
  background: #81b3d2;
}
.makers {
  float: right;
  width: 33%;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}
