html,
body {
  font-family: "PTSans", "Arial", "Myriad Pro", sans-serif;;
  font-size: 14px;
  font-weight: regular;
  text-transform: uppercase;
  line-height: 26px;
  color: #333333;
}
.h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}
.p {
  font-family: PTSans;
  font-size: 14px;
  font-weight: regular;
  line-height: 21px;
  color: #333333;
}
