body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: regular;
  line-height: 26px;
  color: #333333;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.header {
  position: relative;
  padding-left: 6%;
  padding-right: 6%;
}
.logo {
  display: inline-block;
  width: 138px;
  position: absolute;
  left: 50%;
  margin-top:0px;
  margin-left: -77px;
}
.main-menu-list{
  margin:0;
  padding:0;
  font-size: 0;
}
.link {
  display: inline-block;
  width: 20%;
  list-style-type: none;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.link a{
  text-decoration: none;
  color: #000000;
}
.link:first-child{
  text-align: left;
}
.link:last-child{
  text-align: right;
}
.link:nth-child(2){
  margin-right: 20%;
}
.clearfix::after{
  content: '';
  display: table;
  clear:both;
}
.photo-preview {
  height: 566px;
  background: #869eb2 url("../img/introduce1.jpg") no-repeat;
}
.main-preview {
  padding-top: 58px;
  padding-bottom: 55px;
  line-height: 26px;
  color: #333333;
}
.main-preveiw-header {
  width: 460px;
  margin:0 auto;
  margin-bottom: 35px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.main-preveiw-text {
  font-size: 14px;
  font-weight: regular;
  text-align: center;
}
.moments {
  margin-bottom: 0px;
}
.reasons {
  background-color: #eeeeee;
}
.reason {
  float:left;
  padding-top: 52px;
  padding-bottom: 52px;
  width: 400px;
  line-height: 21px;
}
.reason-header {
  width: 163px;
  margin: 0 auto;
  margin-bottom: 23px;
  font-size: 21px
  font-weight: bold;
  text-align: center;
}
.reason-header5 {
  width: 106px;
}
.reason-number {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
}
.reason-text {
  width: 310px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}
.reason-left {
  background-color: #81b3d2;
  color: #ffffff;
}
.reason-right {
  float:right;
  background-color: #81b3d2;
  color: #ffffff;
}
.view {
  float:right;
  width: 800px;
  height: 256px;
  margin-left: 0px;
  background: #9e785c url("../img/photo1.jpg") no-repeat center;
}
.photo2{
  float:left;
  width: 800px;
  height: 256px;
  margin-left: 0px;
  background: #81523a url("../img/photo2.jpg") no-repeat center;
}
.fields {
  margin-bottom: 0px;
  font-size: 0px;
}
.field {
  display: inline-block;
  width: 400px;
  margin-left: 0;
  padding-top: 61px;
  padding-bottom: 85px;
  line-height: 21px;
  text-align: center;
}
.field-header{
  margin-bottom: 28px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.home {
  width: 75px;
  height: 75px;
  margin:0 auto;
  margin-bottom: 31px;
  background: url("../img/house.png") no-repeat;
}
.burger{
  background: url("../img/Burger.png") no-repeat;
}
.present{
  background: url("../img/present.png") no-repeat;
}
.field-text {
  width: 300px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}
.selection-data{
  position: relative;
  padding-top: 57px;
}
.selection-header{
  width: 312px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
}
.selection-text{
  width: 446px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.selection-data a{
  display: block;
  width: 568px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  text-decoration: none;
  text-align: center;
}
.data-button{
  width: 568px;
  margin: 0 auto;
}
.button{
  position: absolute;
  left: 50%;
  width: 568px;
  margin-left: -284px;
  padding: 55px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.form-label {
  display:inline-block;
  margin-bottom: 30px;
  vertical-align: middle;
  font-size: 0;
}
.label{
  display:inline-block;
  vertical-align: middle;
  width: 98px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
.data-calendar{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 346px;

}
.input-data{
  display: inline-block;
  box-sizing: border-box;
  width: 346px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 40px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #f2f2f2;
}
.calendar {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 22px;
  background: url("../img/calendar.png") no-repeat center;
}
.quantity {
  margin-bottom: 54px;
  vertical-align: middle;
  font-size: 0;
}
.human{
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 0;
}
.quantity-label{
  display: inline-block;
  width: 75px;
  margin-right: 39px;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
}
.amt{
  display: inline-block;
  width: 114px;
  height: 38px;
  padding: 0;
  margin:0;
  vertical-align: middle;
  font-size: 0;
}
.quantity-human{
  display: inline-block;
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  background: url("../img/minus.png") no-repeat;
}
.amount{
  display: inline-block;
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: #f2f2f2;
}
.plus {
  display: inline-block;
  background: url("../img/plus.png") no-repeat;
}
.children{
  width: 40px;
  margin-left: 51px;
  margin-right: 24px;
}

.submit {
  display: block;
  width: 458px;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 21px;
  font-weight: bold;
  background-color: #81b3d2;
  border: none;
  outline: none;
  color: #ffffff;
  text-align: center;
}
.map {
  height: 593px;
}
.footer {
  margin-top: 0px;
  vertical-align: middle;
}
.tag {
  display: inline-block;
  float: left;
  width: 33%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.social {
  display: inline-block;
  float: left;
  width: 33%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  vertical-align: middle;
}
.social-link {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 0 auto;
  margin-right: 6px;
  background: #81b3d2 url("../img/tw.png") no-repeat center;
}
.fb{
  background: #81b3d2 url("../img/fb.png") no-repeat center;
}
.yt{
  background: #81b3d2 url("../img/yb.png") no-repeat center;
}
.makers {
  float: right;
  width: 33%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
}
.academy {
  display: inline-block;
  width: 113px;
  height: 40px;
  background: url("../img/htmlacademy.png") no-repeat center;
  vertical-align: middle;
}
.photo{
  background: #81523a url("../img/filter_background.jpg") no-repeat center;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 60px;

}
.option{
  float:left;
  width: 166px;
  margin-right: 80px;
  text-transform: uppercase;
  line-height: 21px;
  color:#ffffff;
}
.option-head{
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 21px;
  color:#ffffff;
}
.filter{
  display: inline-block;
  width: 140px;
  margin-bottom: 15px;
  font-size: 0;
  vertical-align: middle;
}
.input-filter{
  display: inline-block;
  margin-right:10px;

}
.label-filter{
  display:inline-block;
  font-size: 14px;
}
.form{
  float:right;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color:#ffffff;
}
.cost{
  display:inline-block;
  width:314px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border: 2px solid #fafafa;
  font-size: 0;
}
.value{
  display: inline-block;
  width: 156px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
}
.label-value{
  display: inline-block;
  width: 22px;
}
.input-value{
  display: inline-block;
  width: 34px;
  text-align: left;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: #ffffff;
}
.button-result{
  display: inline-block;
  width: 133px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  border: 2px solid #fafafa;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color:#ffffff;
  text-align: center;
  vertical-align: middle;
}
.results{
  padding-top:15px;
  padding-left:70px;
  padding-right: 60px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;

}
.result-head{
  display: inline-block;
  width: 117px;
  margin-right: 44px;
  vertical-align: middle;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
.sorting{
  display: inline-block;
  width: 360px;
  vertical-align: middle;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.sorting-head{
  display: inline-block;
  width: 77px;
  margin-right: 33px;
}
.found{
  display: inline-block;
  width: 78px;
  color: #81b3d2;
}
.arrows{
  float:right;
  width: 44px;
  padding-top: 22px;
  font-size: 0;
  vertical-align: middle;
}
.arrow{
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-right: 7px;
  vertical-align: middle;
  background: url("../img/arrow_up.png") no-repeat center;
}
.down{
  background: url("../img/arrow_down.png") no-repeat center;
}
.hotel{
  padding-left: 70px;
  padding-top: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.photo-hotel{
  float:left;
  width: 135px;
  height: 90px;
  margin-right: 30px;
}
.info-hotel{
  float:left;
  width: 264px;
  text-transform: uppercase;
}
.header-hotel{
  width: 230px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color:#000000;
  margin-bottom: 10px;
  text-decoration: none;
  vertical-align: middle;
}
.detail-hotel{
  display: inline-block;
  width: 110px;
  font-size: 0;
}
.type-hotel{
  width: 100px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.details{

}
.booking{
  width: 142px;
}
