body {
  width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: regular;
  line-height: 26px;
  color: #333333;
}
.main-preveiw {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}
.selection-data a {
  font-weight: bold;
  color: #ffffff;
}
